<h1>
    Thanks For Login
</h1>

<h1>
    Now Click On this Button For Home Page

</h1>
<a class="btn btn-block alert alert-success" asp-action="Umair">
    <span class="glyphicon glyphicon-check"></span>
</a>