
<h1>
    Please Login

</h1>

<p>

    Please login after registration

</p>


<form method="post" class="table table-bordered">
    <input type="text" id="Enter Email" value="Enter Email">
    <br>
    <br>
    <input type="text" id="Password" value="Password" />
<h1>
    <input type="submit" class="btn btn-success "asp-action="Profile"/><span class="glyphicon glyphicon-grain"></span></h1>

</form>


